0 */1 * * * root . /var/www/html/santam/print_env.sh;  /usr/local/bin/php /var/www/html/santam/artisan command:process_courier_import_file >> /var/log/cron.log 2>&1
0 */1 * * * root . /var/www/html/santam/print_env.sh;  /usr/local/bin/php /var/www/html/santam/artisan command:process_claim_import_file >> /var/log/cron.log 2>&1
# An empty line is required at the end of this file for a valid cron file.
